<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: #000;
        color: #fff;
        min-height: 100vh;
        font-size: 1.5rem;
      }
      nav {
        background-color: #071041;
        padding: 1rem;
      }
      section {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      input {
        padding: 7px;
        margin-bottom: 10px;
        font-size: 1.5rem;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
      button {
        padding: 9px;
        font-size: 1.5rem;
        background-color: #071041;
        color: #fff;
        border: 1px solid #071041;
        border-radius: 10px;
        cursor: pointer;
      }
      button:hover {
        background-color: #1531ce;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
      th,
      td {
        border: 1px solid #ccc;
        padding: 10px;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h1>Flow ShortUrl Socity</h1>
    </nav>
    <section>
      <form action="/api/url/" method="post">
        <input
          type="text"
          name="url"
          id="url"
          placeholder="Enter your long url"
          aria-label="Enter your long url"
          required
        />
        <button type="submit" aria-label="submit">Shorten</button>
      </form>
      <% if (locals.id) { %>
      <p>
        Your short url is:
        <a href="/api/url/<%= id %>" target="_blank"
          >http://localhost:3500/api/url/<%= id %></a
        >
      </p>
      <% } %> <% if (locals.urls) { %>
      <table>
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Long Url</th>
            <th>Short Url</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.redirectUrl %></td>
            <td>
              <a href="/api/url/<%= url.shortId %>" target="_blank"
                >http://localhost:3500/api/url/<%= url.shortId %></a
              >
            </td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </section>
  </body>
</html>
